 <div class="containerContent">
   <section class="containerPost">
     <div class="containerCards">
       <div class="cardPost">
         <div class="cardImage">
           <img src="assets/Imagens/coronavirus_1.jpg" alt="Banner Coronavírus">
         </div>
         <div class="cardBody">
           <div class="cardTitle">
             <h3>Coronavírus: como essa doença é transmitida?</h3>
           </div>
           <div class="cardText">
             Saiba o que é o coronavírus, em quanto tempo a doença pode se manifestar e quais os
             principais cuidados que devemos tomar para a prevenção ao sair de casa.
           </div>
           <div class="cardFooter">
             <a href="#"><small>Ler mais</small></a>
           </div>
         </div>
       </div>

       <div class="cardPost">
         <div class="cardImage">
           <img src="assets/Imagens/coronavirus_1.jpg" alt="Imagem vírus Coronavírus">
         </div>
         <div class="cardBody">
           <div class="cardTitle">
             <h3>OMS recomenda 2 novos medicamentos</h3>
           </div>
           <div class="cardText">
             Novas orientações são baseadas em 7 ensaios com mais de 4.000 pacientes.
           </div>
           <div class="cardFooter">
             <a href="#"><small>Ler mais</small></a>
           </div>
         </div>
       </div>

       <div class="cardPost">
         <div class="cardImage">
           <img src="assets/Imagens/coronavirus_1.jpg" alt="Hospital com atendimento para pessoas com Coronavírus">
         </div>
         <div class="cardBody">
           <div class="cardTitle">
             <h3>Covid-19: após exigência do GDF, Secretaria de Saúde abre mais 10 leitos de UTI</h3>
           </div>
           <div class="cardText">
             Capacidade total da rede pública é de 217 leitos para tratamento intensivo de pacientes com a doença.
             Em plano de mobilização de vagas apresentado nesta sexta-feira (14/1).
           </div>
           <div class="cardFooter">
             <a href="#"><small>Ler mais</small></a>
           </div>
         </div>
       </div>

       <div class="cardPost">
         <div class="cardImage">
           <img src="assets/Imagens/coronavirus_1.jpg" alt="Enfermeiro realizando teste de Covid-19">
         </div>
         <div class="cardBody">
           <div class="cardTitle">
             <h3>Laboratório Sabin suspende testes de covid-19 no DF neste fim de semana</h3>
           </div>
           <div class="cardText">
             Empresa justificou medida devido a alta na demanda por exames. Somente atendimentos comprados ou
             cadastrados poderão ser feitos, em apenas um ponto.
           </div>
           <div class="cardFooter">
             <a href="#"><small>Ler mais</small></a>
           </div>
         </div>
       </div>

       <div class="cardPost">
         <div class="cardImage">
           <img src="assets/Imagens/coronavirus_1.jpg" alt="Vacina Covax sendo entregues">
         </div>
         <div class="cardBody">
           <div class="cardTitle">
             <h3>Covax chega à marca de 1 bilhão de vacinas contra Covid-19 entregues</h3>
           </div>
           <div class="cardText">
             O programa global de compartilhamento de vacinas da Organização Mundial da Saúde, Covax, chegou à marca
             de 1 bilhão de doses de vacinas contra a Covid-19 entregues.
           </div>
           <div class="cardFooter">
             <a href="#"><small>Ler mais</small></a>
           </div>
         </div>
       </div>

       <div class="cardPost">
         <div class="cardImage">
           <img src="assets/Imagens/coronavirus_1.jpg" alt="Enfermeira realizando teste de Covid-19 em paciente">
         </div>
         <div class="cardBody">
           <div class="cardTitle">
             <h3>Covid-19: Amazonas entra na fase laranja após alta na taxa de positividade</h3>
           </div>
           <div class="cardText">
             O Amazonas registrou 2.638 novos casos de Covid nas últimas 24 horas. A atualização consta no boletim
             deste sábado (15), da Fundação de Vigilância em Saúde (FVS-AM).
           </div>
           <div class="cardFooter">
             <a href="#"><small>Ler mais</small></a>
           </div>
         </div>
       </div>
     </div>
   </section>

   <div class="containerCategorias">
     <p>Categorias</p>
     <table>
       <tbody>
         <tr>
           <td>Coronavírus</td>
         </tr>
         <tr>
           <td>Economia</td>
         </tr>
         <tr>
           <td>Tecnologia e inovação</td>
         </tr>
         <tr>
           <td>Educação</td>
         </tr>
       </tbody>
     </table>

     <div id="search">
       <p>Procurando alguma notícia?</p>
       <div id="boxSearch">
         <input type="text" id="textSearch" placeholder="Pesquisar por..." />
         <a class="btnSearch" href="#">
           <img src="../../../assets/Imagens/Lupa.png" id="imgSearch" alt="Buscar" />
         </a>
       </div>
     </div>
   </div>
 </div>