 <div class="containerContent">
   <section class="containerPost">
     <div class="containerCards">
       <div class="cardPost" *ngFor="let noticia of noticias;">
         <div class="cardImage">
           <img src="assets/imagens/coronavirus_1.jpg" alt="Banner Coronavírus">
         </div>
         <div class="cardBody">
           <div class="cardTitle">
             <h3>{{ noticia.title }}</h3>
           </div>
           <div class="cardText">
             {{ noticia.body }}
           </div>
           <div class="cardFooter">
             <a href="#"><small>Ler mais</small></a>
           </div>
         </div>
       </div>
    </div>
   </section>

   <div class="containerCategorias">
     <p>Categorias</p>
     <table>
       <tbody>
         <tr>
           <td>Coronavírus</td>
         </tr>
         <tr>
           <td>Economia</td>
         </tr>
         <tr>
           <td>Tecnologia e inovação</td>
         </tr>
         <tr>
           <td>Educação</td>
         </tr>
       </tbody>
     </table>

     <div id="search">
       <p>Procurando alguma notícia?</p>
       <div id="boxSearch">
         <input type="text" id="textSearch" placeholder="Pesquisar por..." />
         <a class="btnSearch" href="#">
           <img src="../../../assets/imagens/Lupa.png" id="imgSearch" alt="Buscar" />
         </a>
       </div>
     </div>
   </div>
 </div>